
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button.nav-i-project {
    background-color: #aac8ff !important;
    font-weight: bold !important;
    color: #fff !important;
    border: none !important;
    padding: 10px !important;
    font-size: 20px !important;
    cursor: pointer !important;
}

.item-contenus{
    display: none;
}

.nav-i-project.active{
    background-color: #1065ff;
}

.item-contenus.active-contenus{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* card blog */

.post-type-container{
    margin: 30px auto;
    width: 600px;
    height: 100%;
    background-color: #fff;
    /* mini box shadow on blog card */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.post-category-gen img{
    width: 100%;
}

.wp-container-13.wp-block-group.has-foreground-background-color.has-background{
    margin: unset !important;
    width: 100% !important;
}

.post-category-gen-title a{
    padding: 5px;
    font-size: .8em !important;
    text-decoration: none;
}